.header-container {
  position: fixed;
  display: flex;
  width: 100%;
  height: 50px;
  border: 1px solid black;
  background-image: linear-gradient(to right, #aff1da, #f9ea8f);
  z-index: 50;
  top: 0;
}

.div-header-left {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: start;
  align-items: center;
  align-content: center;
  margin-left: 30px;
}

.div-svg {
  display: flex;
  height: 50px;
  width: 55px;
  padding: 0 10px;
  justify-content: center;
}

.div-header-right {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  gap: 40px;
}

.btn-cart {
  display: flex;
  margin: auto;
}

.btn-container {
  display: flex;
  justify-content: space-between;
  gap: 15px;
}

.btn-header {
  display: inline-block;
  outline: 0;
  cursor: pointer;
  border-radius: 6px;
  border: 2px solid #21e065;
  color: #fff;
  background-color: #21e065;
  padding: 8px;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 2px 4px 0px,
    rgba(0, 0, 0, 0.05) 0px 1px 1.5px 0px;
  font-weight: 800;
  font-size: 12px;
  height: 42px;
}
.btn-header:hover {
  background: 0 0;
  color: #21e065;
}

.nav-link-container {
  display: flex;
  cursor: pointer;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  width: 300px;
  margin-left: 40px;
}

.nav-link {
  color: #83764f;
  text-decoration: none;
}

.nav-link:hover {
  color: #ff6d60;
}

.nav-link.active {
  color: #ff6d60;
}

.cart-btn {
  height: 50%;
  width: 50%;
}
