.products-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 4px;
  background-color: #dde6ed;
  margin-top: 1px;
}

.product-container {
  margin-top: 4px;
  position: relative;
  background-color: white;
  border-radius: 10px;
}

.img-container {
  width: 100%;
  position: relative;
  overflow: hidden;
  transition: all;
  display: flex;
}

.img-wrapper {
  display: flex;
  height: 250px;
  width: 250px;
  border: solid 1px;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.img-wrapper > .product-img {
  height: 50%;
  width: 50%;
  transition: transform 0.5s;
  margin: auto;
}

.product-img:hover {
  transform: scale(1.5);
}

.text {
  justify-content: center;
  align-items: center;
  margin: 10px;
  text-align: center;
  font-size: small;
}

.text > .text-description {
  text-align: left;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.text > .text-price {
  position: relative;
  font-weight: bold;
}

.cart-button {
  position: absolute;
  left: 43%;
  bottom: 20px;
}
